/* Copyright (C) 2019 by Michael J. Walsh. Licenced under the GNU GPL, v 3. */

#m_mainWidget {
    background-image:url("res/motherboard.svg"); background-position: center;
    background-color: rgb(100,100,100);
}

#m_gameFrame, #m_infoFrame, #m_objectsFrame, #m_messagesFrame {
    border-top: 5px outset rgb(70,70,70);
    border-left: 5px outset rgb(70,70,70);
    border-right: 5px outset rgb(55,55,55);
    border-bottom: 5px outset rgb(55,55,55);
}

#m_infoFrame {
    background-color: rgb(236,236,236);
}

QLCDNumber {
    background-color: black;
    color: white;
}

QTableView, QHeaderView, #m_labelFind, #m_backButton, #m_goButton {
    font-size: 18px;
}

QTableView, QHeaderView {
    font-weight: bold;
}

#m_labelFind {
    font-weight: bold;
    color: white;
}

#m_controlsFrame {
    border-radius: 8px;
    background-color: rgba(255,255,255,0.5);
    color: black;
    margin-bottom: 10px;
    margin-right: 25px;
    margin-left: 25px;

}

#m_buttonPlay {
    background-color: rgba(0,0,0,0);
    border: 0;
    margin: 0;
    padding: 0
}

#m_slideSpeed::handle {
    image: url("res/ffrw.svg");
    width: 34px;
    margin: -10px 0px -10px 0px;
}

#m_slideSpeed::groove {
    background: rgb(184,184,184);
    height: 0px;
}

#m_slideSeek::add-page::groove {
    background: red;
}

#m_slideSeek::sub-page::groove {
    background: green;
}

#m_textBrowser {
    color: black;
}

#m_progressVolFrame {
    border-radius: 8px;
    background-color: rgba(255,255,255,0.5);
    margin-left: 20px;
    margin-right: 20px;
    color: black;
}

QRadioButton {
    font-size: 24px;
    border: 4px dotted black;
    border-radius: 12px;
    padding: 8px;
}

QRadioButton::checked {
    color: black;
    background: white;
}

QRadioButton::unchecked {
    color: white;
}

QRadioButton::indicator {
    width: 8px;
    height: 8px;
    border-style: solid;
    border-radius: 12px;
    border-width: 8px;
    margin-right: 16px;
}

QRadioButton::indicator::unchecked {
    background: #eaeaea;
    color: #eaeaea;
}

QRadioButton::indicator::unchecked::hover {
    background: #cccccc;
    color: #cccccc;
}

QRadioButton::indicator::checked {
    background: white;
    color: #1E81F0;
}
